<%= render "nav_menu/nav_bar" %>
<p style="color: green"><%= notice %></p>

<div class='container'>
<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
</div>
<footer class="d-flex justify-content-center align-items-center py-4">
  <button class="btn-scan mx-4">SCAN</button>
</footer>