<%= render 'nav_menu/nav_bar' %>
<p style="color: green"><%= notice %></p>
<div class="container">
<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense%>
    <p>
      <%= link_to "Show this expense", category_expense_path(expense.category_id, expense.id), class:'btn btn-primary' %>
    </p>
  <% end %>
</div>

<%= link_to "New expense", new_category_expense_path, class:'btn btn-primary' %>
</div>
